doctype html
html(lang="de")
  head
    // metaBlock
    block meta
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    // /metaBlock

  body
    // contentBlock
    block content
    // /contentBlock
